html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}
.bold-label {
  font-weight: bold;
}
.ant-menu-horizontal {
  background: rgba(8, 1, 66, 1);
}

.ant-menu-horizontal .ant-menu-item {
  color: white !important;
}

.ant-menu-horizontal .ant-menu-item-selected {
  color: #1890ff !important; /* Plava boja za označene stavke, možete je prilagoditi prema potrebi */
}